# vscode files
.vscode/**
.vscode-test/**

# github files
.github/**
.gitignore
.gitattributes

# testing files
*.py
*.vsix

# examples
examples/**

# markdown files
vsc-extension-quickstart.md
LICENSE
CODE_OF_CONDUCT.md
CONTRIBUTING.md